In [3]:
import pandas as pd
data = pd.read_csv('data/train_set/2.data_add_feature1.csv', header = 0)
data[['방송일시', '노출(분)']]

                      방송일시  노출(분)
0      2019-01-01 06:00:00   20.0
1      2019-01-01 06:20:00   20.0
2      2019-01-01 06:40:00   20.0
3      2019-01-01 07:00:00   20.0
4      2019-01-01 07:20:00   20.0
...                    ...    ...
37367  2019-12-31 23:40:00   20.0
37368  2019-12-31 23:40:00   20.0
37369  2020-01-01 00:00:00   20.0
37370  2020-01-01 00:00:00   20.0
37371  2020-01-01 00:00:00   20.0

[37372 rows x 2 columns]

## 1. 빨간날 추가 + 방송일시 ->년월시분초

In [2]:
data['휴일'] = False
data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,휴일
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,False
1,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,False
2,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,False
3,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,False
4,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,False

In [3]:
data['방송일시'] = pd.to_datetime(data['방송일시'])
data['date'] = data['방송일시'].dt.date
data['time'] = data['방송일시'].dt.time
data['weekday'] = data['방송일시'].dt.weekday
# 0 :월 # 5:토, 6:일

In [4]:
data['weekday']

0        1
1        1
2        1
3        1
4        1
        ..
37367    1
37368    1
37369    2
37370    2
37371    2
Name: weekday, Length: 37372, dtype: int64

In [5]:
# 주말 휴일 표시
data.loc[data['weekday']==5, '휴일'] = True
data.loc[data['weekday']==6,'휴일'] = True

In [6]:
data.loc[data['date'] == pd.to_datetime('2019-01-01'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2020-01-01'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-02-04'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-02-05'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-02-06'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-03-01'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-05-05'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-05-12'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-06-06'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-08-15'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-09-12'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-05-13'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-05-14'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-10-03'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-10-09'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-12-25'),'휴일'] = True
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,휴일,date,time,weekday
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,True,2019-01-01,06:00:00,1
1,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,True,2019-01-01,06:20:00,1
2,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,True,2019-01-01,06:40:00,1
3,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,True,2019-01-01,07:00:00,1
4,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,True,2019-01-01,07:20:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...
37367,2019-12-31 23:40:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000.0,False,2019-12-31,23:40:00,1
37368,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,False,2019-12-31,23:40:00,1
37369,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,True,2020-01-01,00:00:00,2
37370,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,True,2020-01-01,00:00:00,2
37371,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,True,2020-01-01,00:00:00,2

## 2. add weather
- 기상청에서 다운받은 weather data

In [7]:
weather = pd.read_csv('data/train_set/weather.csv', header = 0)
weather.head(10)
weather.isnull().sum()

지점             0
지점명            0
일시             0
기온(°C)         0
강수량(mm)    15880
습도(%)          0
적설(cm)     17439
dtype: int64

- 강수량과 적설의 nan을 0 으로 바꾼다.

In [8]:
weather = weather.fillna(0)
weather

        지점 지점명                일시  기온(°C)  강수량(mm)  습도(%)  적설(cm)
0      108  서울   2019-01-01 1:00    -5.9      0.0   56.0     0.0
1      108  서울   2019-01-01 2:00    -6.5      0.0   60.0     0.0
2      108  서울   2019-01-01 3:00    -6.9      0.0   62.0     0.0
3      108  서울   2019-01-01 4:00    -7.2      0.0   57.0     0.0
4      108  서울   2019-01-01 5:00    -7.6      0.0   59.0     0.0
...    ...  ..               ...     ...      ...    ...     ...
17517  159  부산  2019-12-31 21:00    -1.4      0.0   21.0     0.0
17518  159  부산  2019-12-31 22:00    -1.9      0.0   24.0     0.0
17519  159  부산  2019-12-31 23:00    -2.3      0.0   24.0     0.0
17520  159  부산   2020-01-01 0:00    -2.5      0.0   23.0     0.0
17521  159  부산   2020-01-01 1:00    -2.9      0.0   22.0     0.0

[17522 rows x 7 columns]

In [9]:
#사용하기 편하도록 형태를 바꿔준다.
weather['일시']= pd.to_datetime(weather['일시'])
weather['date'] = weather['일시'].dt.date
weather['hour'] = weather['일시'].dt.hour

In [10]:
#  기온_서울, 기온_부산 강수량_서울, 강수량_부산 이런식으로 바꿔줄 예정
weather_seoul = weather.loc[weather['지점명'] == '서울'].drop(columns= ['지점','지점명','일시'])
weather_busan = weather.loc[weather['지점명'] == '부산'].drop(columns= ['지점','지점명','일시']).reset_index(drop = True)

In [11]:
weather_new =pd.merge(weather_seoul, weather_busan, suffixes=('_seoul', '_busan'), on=['date','hour'], how = 'left')
weather_new.head()

,기온(°C)_seoul,강수량(mm)_seoul,습도(%)_seoul,적설(cm)_seoul,date,hour,기온(°C)_busan,강수량(mm)_busan,습도(%)_busan,적설(cm)_busan
0,-5.9,0.0,56.0,0.0,2019-01-01,1,1.0,0.0,25.0,0.0
1,-6.5,0.0,60.0,0.0,2019-01-01,2,-0.1,0.0,26.0,0.0
2,-6.9,0.0,62.0,0.0,2019-01-01,3,-0.9,0.0,28.0,0.0
3,-7.2,0.0,57.0,0.0,2019-01-01,4,-1.2,0.0,31.0,0.0
4,-7.6,0.0,59.0,0.0,2019-01-01,5,-1.7,0.0,38.0,0.0

- 날씨데이터를 합쳐준다
- 기존 data 가 '분'도 있어서 시간단위로 만들어줘야함

In [12]:
data['hour'] = data['방송일시'].dt.hour
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,휴일,date,time,weekday,hour
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,True,2019-01-01,06:00:00,1,6
1,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,True,2019-01-01,06:20:00,1,6
2,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,True,2019-01-01,06:40:00,1,6
3,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,True,2019-01-01,07:00:00,1,7
4,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,True,2019-01-01,07:20:00,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37367,2019-12-31 23:40:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000.0,False,2019-12-31,23:40:00,1,23
37368,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,False,2019-12-31,23:40:00,1,23
37369,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,True,2020-01-01,00:00:00,2,0
37370,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,True,2020-01-01,00:00:00,2,0
37371,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,True,2020-01-01,00:00:00,2,0

In [47]:
data_weather = pd.merge(data, weather_new, how = 'left', on = ['date', 'hour'])
data_weather.columns

Index(['방송일시', '노출(분)', '마더코드', '상품코드', '상품명', '상품군', '판매단가', '취급액', '휴일',
       'date', 'time', 'weekday', 'hour', '기온(°C)_seoul', '강수량(mm)_seoul',
       '습도(%)_seoul', '적설(cm)_seoul', '기온(°C)_busan', '강수량(mm)_busan',
       '습도(%)_busan', '적설(cm)_busan'],
      dtype='object')

## 3. add 미세먼지

In [141]:
pmWarning = pd.read_excel('data/train_set/pmWarning.xls', header =0)
pmWarning_seoul = pmWarning.loc[pmWarning['지역']=='서울']
pmWarning_busan = pmWarning.loc[pmWarning['지역']=='부산'].reset_index(drop = True)
pmWarning_busan

   지역    권역     항목 경보단계           발령시간           해제시간
0  부산  중부권역   PM10  주의보  2019-10-29 15  2019-10-29 23
1  부산  중부권역  PM2.5  주의보  2019-03-05 20  2019-03-07 13
2  부산  중부권역  PM2.5  주의보  2019-03-02 04  2019-03-02 14
3  부산  중부권역  PM2.5  주의보  2019-01-15 10  2019-01-16 03
4  부산  중부권역  PM2.5  주의보  2019-01-13 06  2019-01-13 17
5  부산  중부권역  PM2.5  주의보  2019-01-05 09  2019-01-05 17

In [142]:
bad_days_seoul = []
for i in range(len(pmWarning_seoul)):
    bad_days_seoul.extend(list(pd.date_range(end = pd.to_datetime(pmWarning_seoul['해제시간'][i]) , start = pd.to_datetime(pmWarning_seoul['발령시간'][i]), freq='H')))

bad_days_busan = []
for i in range(len(pmWarning_busan)):
    bad_days_busan.extend(list(pd.date_range(end = pd.to_datetime(pmWarning_busan['해제시간'][i]) , start = pd.to_datetime(pmWarning_busan['발령시간'][i]), freq='H')))
bad_days_busan

[Timestamp('2019-10-29 15:00:00', freq='H'),
 Timestamp('2019-10-29 16:00:00', freq='H'),
 Timestamp('2019-10-29 17:00:00', freq='H'),
 Timestamp('2019-10-29 18:00:00', freq='H'),
 Timestamp('2019-10-29 19:00:00', freq='H'),
 Timestamp('2019-10-29 20:00:00', freq='H'),
 Timestamp('2019-10-29 21:00:00', freq='H'),
 Timestamp('2019-10-29 22:00:00', freq='H'),
 Timestamp('2019-10-29 23:00:00', freq='H'),
 Timestamp('2019-03-05 20:00:00', freq='H'),
 Timestamp('2019-03-05 21:00:00', freq='H'),
 Timestamp('2019-03-05 22:00:00', freq='H'),
 Timestamp('2019-03-05 23:00:00', freq='H'),
 Timestamp('2019-03-06 00:00:00', freq='H'),
 Timestamp('2019-03-06 01:00:00', freq='H'),
 Timestamp('2019-03-06 02:00:00', freq='H'),
 Timestamp('2019-03-06 03:00:00', freq='H'),
 Timestamp('2019-03-06 04:00:00', freq='H'),
 Timestamp('2019-03-06 05:00:00', freq='H'),
 Timestamp('2019-03-06 06:00:00', freq='H'),
 Timestamp('2019-03-06 07:00:00', freq='H'),
 Timestamp('2019-03-06 08:00:00', freq='H'),
 Timestamp('2019-03-06 09:00:00', freq='H'),
 Timestamp('2019-03-06 10:00:00', freq='H'),
 Timestamp('2019-03-06 11:00:00', freq='H'),
 Timestamp('2019-03-06 12:00:00', freq='H'),
 Timestamp('2019-03-06 13:00:00', freq='H'),
 Timestamp('2019-03-06 14:00:00', freq='H'),
 Timestamp('2019-03-06 15:00:00', freq='H'),
 Timestamp('2019-03-06 16:00:00', freq='H'),
 Timestamp('2019-03-06 17:00:00', freq='H'),
 Timestamp('2019-03-06 18:00:00', freq='H'),
 Timestamp('2019-03-06 19:00:00', freq='H'),
 Timestamp('2019-03-06 20:00:00', freq='H'),
 Timestamp('2019-03-06 21:00:00', freq='H'),
 Timestamp('2019-03-06 22:00:00', freq='H'),
 Timestamp('2019-03-06 23:00:00', freq='H'),
 Timestamp('2019-03-07 00:00:00', freq='H'),
 Timestamp('2019-03-07 01:00:00', freq='H'),
 Timestamp('2019-03-07 02:00:00', freq='H'),
 Timestamp('2019-03-07 03:00:00', freq='H'),
 Timestamp('2019-03-07 04:00:00', freq='H'),
 Timestamp('2019-03-07 05:00:00', freq='H'),
 Timestamp('2019-03-07 06:00:00', freq='H'),
 Timestamp('2019-03-07 07:00:00', freq='H'),
 Timestamp('2019-03-07 08:00:00', freq='H'),
 Timestamp('2019-03-07 09:00:00', freq='H'),
 Timestamp('2019-03-07 10:00:00', freq='H'),
 Timestamp('2019-03-07 11:00:00', freq='H'),
 Timestamp('2019-03-07 12:00:00', freq='H'),
 Timestamp('2019-03-07 13:00:00', freq='H'),
 Timestamp('2019-03-02 04:00:00', freq='H'),
 Timestamp('2019-03-02 05:00:00', freq='H'),
 Timestamp('2019-03-02 06:00:00', freq='H'),
 Timestamp('2019-03-02 07:00:00', freq='H'),
 Timestamp('2019-03-02 08:00:00', freq='H'),
 Timestamp('2019-03-02 09:00:00', freq='H'),
 Timestamp('2019-03-02 10:00:00', freq='H'),
 Timestamp('2019-03-02 11:00:00', freq='H'),
 Timestamp('2019-03-02 12:00:00', freq='H'),
 Timestamp('2019-03-02 13:00:00', freq='H'),
 Timestamp('2019-03-02 14:00:00', freq='H'),
 Timestamp('2019-01-15 10:00:00', freq='H'),
 Timestamp('2019-01-15 11:00:00', freq='H'),
 Timestamp('2019-01-15 12:00:00', freq='H'),
 Timestamp('2019-01-15 13:00:00', freq='H'),
 Timestamp('2019-01-15 14:00:00', freq='H'),
 Timestamp('2019-01-15 15:00:00', freq='H'),
 Timestamp('2019-01-15 16:00:00', freq='H'),
 Timestamp('2019-01-15 17:00:00', freq='H'),
 Timestamp('2019-01-15 18:00:00', freq='H'),
 Timestamp('2019-01-15 19:00:00', freq='H'),
 Timestamp('2019-01-15 20:00:00', freq='H'),
 Timestamp('2019-01-15 21:00:00', freq='H'),
 Timestamp('2019-01-15 22:00:00', freq='H'),
 Timestamp('2019-01-15 23:00:00', freq='H'),
 Timestamp('2019-01-16 00:00:00', freq='H'),
 Timestamp('2019-01-16 01:00:00', freq='H'),
 Timestamp('2019-01-16 02:00:00', freq='H'),
 Timestamp('2019-01-16 03:00:00', freq='H'),
 Timestamp('2019-01-13 06:00:00', freq='H'),
 Timestamp('2019-01-13 07:00:00', freq='H'),
 Timestamp('2019-01-13 08:00:00', freq='H'),
 Timestamp('2019-01-13 09:00:00', freq='H'),
 Timestamp('2019-01-13 10:00:00', freq='H'),
 Timestamp('2019-01-13 11:00:00', freq='H'),
 Timestamp('2019-01-13 12:00:00', freq='H'),
 Timestamp('2019-01-13 13:00:00', freq='H'),
 Timestamp('2019-01-13 14:00:00', freq='H'),
 Timestamp('2019-01-13 15:00:00', freq='H'),
 Timestamp('2019-01-13 16:00:00', freq='H'),
 Timestamp('2019-01-13 17:00:00', freq='H'),
 Timestamp('2019-01-05 09:00:00', freq='H'),
 Timestamp('2019-01-05 10:00:00', freq='H'),
 Timestamp('2019-01-05 11:00:00', freq='H'),
 Timestamp('2019-01-05 12:00:00', freq='H'),
 Timestamp('2019-01-05 13:00:00', freq='H'),
 Timestamp('2019-01-05 14:00:00', freq='H'),
 Timestamp('2019-01-05 15:00:00', freq='H'),
 Timestamp('2019-01-05 16:00:00', freq='H'),
 Timestamp('2019-01-05 17:00:00', freq='H')]

In [107]:
data_weather['pmWarning_seoul']= False
data_weather['pmWarning_busan']= False

1674

### 서울, 부산 미세먼지 경보 추가

In [109]:
for i in range(len(bad_days_seoul)):
    data_weather.loc[(data_weather['방송일시'].dt.date == bad_days_seoul[i].date()) &
                 (data_weather['방송일시'].dt.hour == bad_days_seoul[i].hour),'pmWarning_seoul'] = True
    
for i in range(len(bad_days_busan)):
    data_weather.loc[(data_weather['방송일시'].dt.date == bad_days_busan[i].date()) &
                 (data_weather['방송일시'].dt.hour == bad_days_busan[i].hour),'pmWarning_busan'] = True

In [137]:
data_weather.columns

Index(['방송일시', '노출(분)', '마더코드', '상품코드', '상품명', '상품군', '판매단가', '취급액', '휴일',
       'date', 'time', 'weekday', 'hour', '기온(°C)_seoul', '강수량(mm)_seoul',
       '습도(%)_seoul', '적설(cm)_seoul', '기온(°C)_busan', '강수량(mm)_busan',
       '습도(%)_busan', '적설(cm)_busan', 'pmWarning_seoul', 'pmWarning_busan'],
      dtype='object')

## 분기 데이터 추가 -> 계절

In [138]:
data_weather['quater'] = pd.to_datetime(data_weather['방송일시']).dt.quarter

In [143]:
data_weather

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,휴일,date,...,강수량(mm)_seoul,습도(%)_seoul,적설(cm)_seoul,기온(°C)_busan,강수량(mm)_busan,습도(%)_busan,적설(cm)_busan,pmWarning_seoul,pmWarning_busan,quater
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,True,2019-01-01,...,0.0,60.0,0.0,-1.7,0.0,44.0,0.0,False,False,1
1,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,True,2019-01-01,...,0.0,60.0,0.0,-1.7,0.0,44.0,0.0,False,False,1
2,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,True,2019-01-01,...,0.0,60.0,0.0,-1.7,0.0,44.0,0.0,False,False,1
3,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,True,2019-01-01,...,0.0,58.0,0.0,-1.8,0.0,49.0,0.0,False,False,1
4,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,True,2019-01-01,...,0.0,58.0,0.0,-1.8,0.0,49.0,0.0,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37367,2019-12-31 23:40:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000.0,False,2019-12-31,...,0.0,45.0,0.0,-2.3,0.0,24.0,0.0,False,False,4
37368,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,False,2019-12-31,...,0.0,45.0,0.0,-2.3,0.0,24.0,0.0,False,False,4
37369,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,True,2020-01-01,...,0.0,38.0,0.0,-2.5,0.0,23.0,0.0,False,False,1
37370,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,True,2020-01-01,...,0.0,38.0,0.0,-2.5,0.0,23.0,0.0,False,False,1
37371,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,True,2020-01-01,...,0.0,38.0,0.0,-2.5,0.0,23.0,0.0,False,False,1

In [139]:
data_weather.to_csv('data/train_set/2.data_add_feature1.csv',index = False)