# 2. Add features

In [30]:
import pandas as pd
# data = pd.read_csv('data/train_set/data_remove_nan.csv', header = 0)
data = pd.read_csv('data/test_set/1.data_remove_nan.csv', header = 0)
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN
...,...,...,...,...,...,...,...,...
2886,2020-06-30 23:50:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN
2887,2020-07-01 00:00:00,10.0,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,119000,NaN
2888,2020-07-01 00:00:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN
2889,2020-07-01 00:10:00,10.0,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,119000,NaN
2890,2020-07-01 00:10:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN

## 1. 공휴일 추가
 - test data set에는 공휴일이 없음

In [31]:
data['휴일'] = False
data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,휴일
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,False
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,False

In [32]:
data['방송일시'] = pd.to_datetime(data['방송일시'])
data['date'] = data['방송일시'].dt.date
data['time'] = data['방송일시'].dt.time
data['weekday'] = data['방송일시'].dt.weekday
# 0 :월 # 5:토, 6:일

In [33]:
data['weekday']

0       0
1       0
2       0
3       0
4       0
       ..
2886    1
2887    2
2888    2
2889    2
2890    2
Name: weekday, Length: 2891, dtype: int64

In [34]:
# 주말 휴일 표시
data.loc[data['weekday']==5, '휴일'] = True
data.loc[data['weekday']==6,'휴일'] = True

In [34]:
# this is for train set
data.loc[data['date'] == pd.to_datetime('2019-01-01'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2020-01-01'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-02-04'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-02-05'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-02-06'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-03-01'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-05-05'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-05-12'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-06-06'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-08-15'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-09-12'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-05-13'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-05-14'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-10-03'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-10-09'),'휴일'] = True
data.loc[data['date'] == pd.to_datetime('2019-12-25'),'휴일'] = True
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,휴일,date,time,weekday
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,True,2019-01-01,06:00:00,1
1,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,True,2019-01-01,06:20:00,1
2,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,True,2019-01-01,06:40:00,1
3,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,True,2019-01-01,07:00:00,1
4,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,True,2019-01-01,07:20:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...
35370,2019-12-31 23:20:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,620000.0,False,2019-12-31,23:20:00,1
35371,2019-12-31 23:20:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,1664000.0,False,2019-12-31,23:20:00,1
35372,2019-12-31 23:40:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,15282000.0,False,2019-12-31,23:40:00,1
35373,2019-12-31 23:40:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000.0,False,2019-12-31,23:40:00,1
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,False,2019-12-31,23:40:00,1

## 2. add weather
- 기상청에서 다운받은 weather data
- 서울의 기온, 강수량, 강설량,습도, 부산의 기온, 강수량, 강설량, 습도
- https://data.kma.go.kr/data/grnd/selectAsosRltmList.do?pgmNo=36

In [35]:
# weather = pd.read_csv('data/train_set/weather.csv', header = 0)
weather = pd.read_csv('data/test_set/weather.csv', header = 0)
weather.head(10)
weather.isnull().sum()

지점            0
지점명           0
일시            0
기온(°C)        0
강수량(mm)    1257
습도(%)         0
적설(cm)     1488
dtype: int64

- 강수량과 적설의 nan을 0 으로 바꾼다.

In [36]:
weather = weather.fillna(0)
weather

       지점 지점명                일시  기온(°C)  강수량(mm)  습도(%)  적설(cm)
0     108  서울  2020-06-01 00:00    17.6      0.8     92     0.0
1     108  서울  2020-06-01 01:00    17.7      0.3     91     0.0
2     108  서울  2020-06-01 02:00    17.5      0.0     91     0.0
3     108  서울  2020-06-01 03:00    17.1      0.0     91     0.0
4     108  서울  2020-06-01 04:00    17.0      0.0     92     0.0
...   ...  ..               ...     ...      ...    ...     ...
1483  159  부산  2020-07-01 19:00    20.6      0.0     83     0.0
1484  159  부산  2020-07-01 20:00    20.3      0.0     86     0.0
1485  159  부산  2020-07-01 21:00    20.6      0.0     86     0.0
1486  159  부산  2020-07-01 22:00    20.5      0.0     87     0.0
1487  159  부산  2020-07-01 23:00    20.2      0.0     85     0.0

[1488 rows x 7 columns]

In [37]:
#사용하기 편하도록 형태를 바꿔준다.
weather['일시']= pd.to_datetime(weather['일시'])
weather['date'] = weather['일시'].dt.date
weather['hour'] = weather['일시'].dt.hour

In [38]:
#  기온_서울, 기온_부산 강수량_서울, 강수량_부산 이런식으로 바꿔줄 예정
weather_seoul = weather.loc[weather['지점명'] == '서울'].drop(columns= ['지점','지점명','일시'])
weather_busan = weather.loc[weather['지점명'] == '부산'].drop(columns= ['지점','지점명','일시']).reset_index(drop = True)

In [39]:
weather_new =pd.merge(weather_seoul, weather_busan, suffixes=('_seoul', '_busan'), on=['date','hour'], how = 'left')
weather_new.head()

,기온(°C)_seoul,강수량(mm)_seoul,습도(%)_seoul,적설(cm)_seoul,date,hour,기온(°C)_busan,강수량(mm)_busan,습도(%)_busan,적설(cm)_busan
0,17.6,0.8,92,0.0,2020-06-01,0,18.3,0.0,94,0.0
1,17.7,0.3,91,0.0,2020-06-01,1,18.8,0.0,89,0.0
2,17.5,0.0,91,0.0,2020-06-01,2,19.0,0.0,86,0.0
3,17.1,0.0,91,0.0,2020-06-01,3,19.0,0.0,85,0.0
4,17.0,0.0,92,0.0,2020-06-01,4,18.9,0.0,87,0.0

- 날씨데이터를 합쳐준다
- 기존 data 가 '분'도 있어서 시간단위로 만들어줘야함

In [1]:
data['hour'] = data['방송일시'].dt.hour
data.head()

NameError: name 'data' is not defined

In [41]:
data_weather = pd.merge(data, weather_new, how = 'left', on = ['date', 'hour'])
data_weather

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,휴일,date,...,weekday,hour,기온(°C)_seoul,강수량(mm)_seoul,습도(%)_seoul,적설(cm)_seoul,기온(°C)_busan,강수량(mm)_busan,습도(%)_busan,적설(cm)_busan
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False,2020-06-01,...,0,6,16.7,0.1,90,0.0,18.6,0.0,91,0.0
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False,2020-06-01,...,0,6,16.7,0.1,90,0.0,18.6,0.0,91,0.0
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False,2020-06-01,...,0,7,16.9,0.0,86,0.0,19.2,0.0,87,0.0
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,False,2020-06-01,...,0,7,16.9,0.0,86,0.0,19.2,0.0,87,0.0
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,False,2020-06-01,...,0,7,16.9,0.0,86,0.0,19.2,0.0,87,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-06-30 23:50:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN,False,2020-06-30,...,1,23,18.7,0.0,87,0.0,21.5,0.0,73,0.0
2887,2020-07-01 00:00:00,10.0,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,119000,NaN,False,2020-07-01,...,2,0,18.8,0.0,85,0.0,21.0,0.0,74,0.0
2888,2020-07-01 00:00:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN,False,2020-07-01,...,2,0,18.8,0.0,85,0.0,21.0,0.0,74,0.0
2889,2020-07-01 00:10:00,10.0,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,119000,NaN,False,2020-07-01,...,2,0,18.8,0.0,85,0.0,21.0,0.0,74,0.0
2890,2020-07-01 00:10:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN,False,2020-07-01,...,2,0,18.8,0.0,85,0.0,21.0,0.0,74,0.0

## 3. add 미세먼지
- 미세먼지경보의 발령시간~ 해제시간 동안의 기록한다
- https://www.airkorea.or.kr/web

In [42]:
pmWarning = pd.read_excel('data/train_set/pmWarning.xls', header =0)
pmWarning_seoul = pmWarning.loc[pmWarning['지역']=='서울']
pmWarning_busan = pmWarning.loc[pmWarning['지역']=='부산'].reset_index(drop = True)
pmWarning_busan

   지역    권역     항목 경보단계           발령시간           해제시간
0  부산  중부권역   PM10  주의보  2019-10-29 15  2019-10-29 23
1  부산  중부권역  PM2.5  주의보  2019-03-05 20  2019-03-07 13
2  부산  중부권역  PM2.5  주의보  2019-03-02 04  2019-03-02 14
3  부산  중부권역  PM2.5  주의보  2019-01-15 10  2019-01-16 03
4  부산  중부권역  PM2.5  주의보  2019-01-13 06  2019-01-13 17
5  부산  중부권역  PM2.5  주의보  2019-01-05 09  2019-01-05 17

In [43]:
bad_days_seoul = []
for i in range(len(pmWarning_seoul)):
    bad_days_seoul.extend(list(pd.date_range(end = pd.to_datetime(pmWarning_seoul['해제시간'][i]) , start = pd.to_datetime(pmWarning_seoul['발령시간'][i]), freq='H')))

bad_days_busan = []
for i in range(len(pmWarning_busan)):
    bad_days_busan.extend(list(pd.date_range(end = pd.to_datetime(pmWarning_busan['해제시간'][i]) , start = pd.to_datetime(pmWarning_busan['발령시간'][i]), freq='H')))
bad_days_busan

[Timestamp('2019-10-29 15:00:00', freq='H'),
 Timestamp('2019-10-29 16:00:00', freq='H'),
 Timestamp('2019-10-29 17:00:00', freq='H'),
 Timestamp('2019-10-29 18:00:00', freq='H'),
 Timestamp('2019-10-29 19:00:00', freq='H'),
 Timestamp('2019-10-29 20:00:00', freq='H'),
 Timestamp('2019-10-29 21:00:00', freq='H'),
 Timestamp('2019-10-29 22:00:00', freq='H'),
 Timestamp('2019-10-29 23:00:00', freq='H'),
 Timestamp('2019-03-05 20:00:00', freq='H'),
 Timestamp('2019-03-05 21:00:00', freq='H'),
 Timestamp('2019-03-05 22:00:00', freq='H'),
 Timestamp('2019-03-05 23:00:00', freq='H'),
 Timestamp('2019-03-06 00:00:00', freq='H'),
 Timestamp('2019-03-06 01:00:00', freq='H'),
 Timestamp('2019-03-06 02:00:00', freq='H'),
 Timestamp('2019-03-06 03:00:00', freq='H'),
 Timestamp('2019-03-06 04:00:00', freq='H'),
 Timestamp('2019-03-06 05:00:00', freq='H'),
 Timestamp('2019-03-06 06:00:00', freq='H'),
 Timestamp('2019-03-06 07:00:00', freq='H'),
 Timestamp('2019-03-06 08:00:00', freq='H'),
 Timestamp('2019-03-06 09:00:00', freq='H'),
 Timestamp('2019-03-06 10:00:00', freq='H'),
 Timestamp('2019-03-06 11:00:00', freq='H'),
 Timestamp('2019-03-06 12:00:00', freq='H'),
 Timestamp('2019-03-06 13:00:00', freq='H'),
 Timestamp('2019-03-06 14:00:00', freq='H'),
 Timestamp('2019-03-06 15:00:00', freq='H'),
 Timestamp('2019-03-06 16:00:00', freq='H'),
 Timestamp('2019-03-06 17:00:00', freq='H'),
 Timestamp('2019-03-06 18:00:00', freq='H'),
 Timestamp('2019-03-06 19:00:00', freq='H'),
 Timestamp('2019-03-06 20:00:00', freq='H'),
 Timestamp('2019-03-06 21:00:00', freq='H'),
 Timestamp('2019-03-06 22:00:00', freq='H'),
 Timestamp('2019-03-06 23:00:00', freq='H'),
 Timestamp('2019-03-07 00:00:00', freq='H'),
 Timestamp('2019-03-07 01:00:00', freq='H'),
 Timestamp('2019-03-07 02:00:00', freq='H'),
 Timestamp('2019-03-07 03:00:00', freq='H'),
 Timestamp('2019-03-07 04:00:00', freq='H'),
 Timestamp('2019-03-07 05:00:00', freq='H'),
 Timestamp('2019-03-07 06:00:00', freq='H'),
 Timestamp('2019-03-07 07:00:00', freq='H'),
 Timestamp('2019-03-07 08:00:00', freq='H'),
 Timestamp('2019-03-07 09:00:00', freq='H'),
 Timestamp('2019-03-07 10:00:00', freq='H'),
 Timestamp('2019-03-07 11:00:00', freq='H'),
 Timestamp('2019-03-07 12:00:00', freq='H'),
 Timestamp('2019-03-07 13:00:00', freq='H'),
 Timestamp('2019-03-02 04:00:00', freq='H'),
 Timestamp('2019-03-02 05:00:00', freq='H'),
 Timestamp('2019-03-02 06:00:00', freq='H'),
 Timestamp('2019-03-02 07:00:00', freq='H'),
 Timestamp('2019-03-02 08:00:00', freq='H'),
 Timestamp('2019-03-02 09:00:00', freq='H'),
 Timestamp('2019-03-02 10:00:00', freq='H'),
 Timestamp('2019-03-02 11:00:00', freq='H'),
 Timestamp('2019-03-02 12:00:00', freq='H'),
 Timestamp('2019-03-02 13:00:00', freq='H'),
 Timestamp('2019-03-02 14:00:00', freq='H'),
 Timestamp('2019-01-15 10:00:00', freq='H'),
 Timestamp('2019-01-15 11:00:00', freq='H'),
 Timestamp('2019-01-15 12:00:00', freq='H'),
 Timestamp('2019-01-15 13:00:00', freq='H'),
 Timestamp('2019-01-15 14:00:00', freq='H'),
 Timestamp('2019-01-15 15:00:00', freq='H'),
 Timestamp('2019-01-15 16:00:00', freq='H'),
 Timestamp('2019-01-15 17:00:00', freq='H'),
 Timestamp('2019-01-15 18:00:00', freq='H'),
 Timestamp('2019-01-15 19:00:00', freq='H'),
 Timestamp('2019-01-15 20:00:00', freq='H'),
 Timestamp('2019-01-15 21:00:00', freq='H'),
 Timestamp('2019-01-15 22:00:00', freq='H'),
 Timestamp('2019-01-15 23:00:00', freq='H'),
 Timestamp('2019-01-16 00:00:00', freq='H'),
 Timestamp('2019-01-16 01:00:00', freq='H'),
 Timestamp('2019-01-16 02:00:00', freq='H'),
 Timestamp('2019-01-16 03:00:00', freq='H'),
 Timestamp('2019-01-13 06:00:00', freq='H'),
 Timestamp('2019-01-13 07:00:00', freq='H'),
 Timestamp('2019-01-13 08:00:00', freq='H'),
 Timestamp('2019-01-13 09:00:00', freq='H'),
 Timestamp('2019-01-13 10:00:00', freq='H'),
 Timestamp('2019-01-13 11:00:00', freq='H'),
 Timestamp('2019-01-13 12:00:00', freq='H'),
 Timestamp('2019-01-13 13:00:00', freq='H'),
 Timestamp('2019-01-13 14:00:00', freq='H'),
 Timestamp('2019-01-13 15:00:00', freq='H'),
 Timestamp('2019-01-13 16:00:00', freq='H'),
 Timestamp('2019-01-13 17:00:00', freq='H'),
 Timestamp('2019-01-05 09:00:00', freq='H'),
 Timestamp('2019-01-05 10:00:00', freq='H'),
 Timestamp('2019-01-05 11:00:00', freq='H'),
 Timestamp('2019-01-05 12:00:00', freq='H'),
 Timestamp('2019-01-05 13:00:00', freq='H'),
 Timestamp('2019-01-05 14:00:00', freq='H'),
 Timestamp('2019-01-05 15:00:00', freq='H'),
 Timestamp('2019-01-05 16:00:00', freq='H'),
 Timestamp('2019-01-05 17:00:00', freq='H')]

In [16]:
data_weather['pmWarning_seoul']= False
data_weather['pmWarning_busan']= False

### 서울, 부산 미세먼지 경보 추가
- 위 과정에서 정리된 미세먼지 정보를 data frame에 추가
- test set 에는 미세먼지 경보/주의보 발령기간이 이 없음

In [45]:
for i in range(len(bad_days_seoul)):
    data_weather.loc[(data_weather['방송일시'].dt.date == bad_days_seoul[i].date()) &
                 (data_weather['방송일시'].dt.hour == bad_days_seoul[i].hour),'pmWarning_seoul'] = True
    
for i in range(len(bad_days_busan)):
    data_weather.loc[(data_weather['방송일시'].dt.date == bad_days_busan[i].date()) &
                 (data_weather['방송일시'].dt.hour == bad_days_busan[i].hour),'pmWarning_busan'] = True

In [46]:
data_weather.columns

Index(['방송일시', '노출(분)', '마더코드', '상품코드', '상품명', '상품군', '판매단가', '취급액', '휴일',
       'date', 'time', 'weekday', 'hour', '기온(°C)_seoul', '강수량(mm)_seoul',
       '습도(%)_seoul', '적설(cm)_seoul', '기온(°C)_busan', '강수량(mm)_busan',
       '습도(%)_busan', '적설(cm)_busan', 'pmWarning_seoul', 'pmWarning_busan'],
      dtype='object')

## 4. 계절 데이터 추가

In [42]:
data_weather['season'] = ((pd.to_datetime(data_weather['방송일시']).dt.month % 12) + 3)//3

In [43]:
data_weather

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,휴일,date,...,hour,기온(°C)_seoul,강수량(mm)_seoul,습도(%)_seoul,적설(cm)_seoul,기온(°C)_busan,강수량(mm)_busan,습도(%)_busan,적설(cm)_busan,season
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False,2020-06-01,...,6,16.7,0.1,90,0.0,18.6,0.0,91,0.0,3
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False,2020-06-01,...,6,16.7,0.1,90,0.0,18.6,0.0,91,0.0,3
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,False,2020-06-01,...,7,16.9,0.0,86,0.0,19.2,0.0,87,0.0,3
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,False,2020-06-01,...,7,16.9,0.0,86,0.0,19.2,0.0,87,0.0,3
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,False,2020-06-01,...,7,16.9,0.0,86,0.0,19.2,0.0,87,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-06-30 23:50:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN,False,2020-06-30,...,23,18.7,0.0,87,0.0,21.5,0.0,73,0.0,3
2887,2020-07-01 00:00:00,10.0,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,119000,NaN,False,2020-07-01,...,0,18.8,0.0,85,0.0,21.0,0.0,74,0.0,3
2888,2020-07-01 00:00:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN,False,2020-07-01,...,0,18.8,0.0,85,0.0,21.0,0.0,74,0.0,3
2889,2020-07-01 00:10:00,10.0,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,119000,NaN,False,2020-07-01,...,0,18.8,0.0,85,0.0,21.0,0.0,74,0.0,3
2890,2020-07-01 00:10:00,10.0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN,False,2020-07-01,...,0,18.8,0.0,85,0.0,21.0,0.0,74,0.0,3

In [44]:
data_weather = data_weather.sort_values("방송일시").reset_index(drop = True)

## 5. 최근 일주일, 오늘 하룻동안 몇번의 동일 상품이 있었는지 count하는 변수 생성

ex) day_dup = 1, 오늘 중복이 한번있었다(이 방송전에, 동일한 방송이 한번 있었다)

In [46]:
data_weather['day_dup'] = 0
data_weather['week_dup'] = 0

In [48]:
import pdb
for code in codes:
  
    temp = data_weather.loc[data_weather['상품코드'] == code,['방송일시','상품코드','day_dup','week_dup']]
    temp['방송일시'] = pd.to_datetime(temp['방송일시'])
    temp = temp.reset_index()
    temp = temp.set_index('방송일시')
    temp['week_dup'] = temp['week_dup'].rolling('7d').count()
    temp['day_dup'] = temp['day_dup'].rolling('1d').count()

    temp = temp.set_index('index')

    data_weather.loc[temp.index, 'week_dup'] = temp['week_dup']
    data_weather.loc[temp.index, 'day_dup'] = temp['day_dup']

In [49]:
data_weather.columns

Index(['방송일시', '노출(분)', '마더코드', '상품코드', '상품명', '상품군', '판매단가', '취급액', '휴일',
       'date', 'time', 'weekday', 'hour', '기온(°C)_seoul', '강수량(mm)_seoul',
       '습도(%)_seoul', '적설(cm)_seoul', '기온(°C)_busan', '강수량(mm)_busan',
       '습도(%)_busan', '적설(cm)_busan', 'season', 'day_dup', 'week_dup'],
      dtype='object')

### 한글 이름을 영문이름으로 변환해준다

In [50]:
data_weather = data_weather.rename(columns = {
    '방송일시' : 'broadcast_date',
    '노출(분)' : 'broadcast_time',
    '마더코드' : 'broadcast_code',
    '상품코드' : 'product_code',
    '상품명' : 'product_name',
    '상품군' : 'product_category',
    '판매단가' : 'unit_price',
    '취급액' : 'handling_amount',
    '휴일' : 'off_day',
    '기온(°C)_seoul' : 'temperature_seoul',
    '강수량(mm)_seoul' : 'rain_seoul',
    '습도(%)_seoul' : 'humid_seoul',
    '적설(cm)_seoul' : 'snow_seoul',
    '기온(°C)_busan' : 'temperature_busan',
    '강수량(mm)_busan': 'rain_busan',
    '습도(%)_busan' : 'humid_busan',
    '적설(cm)_busan': 'snow_busan',
})

In [51]:
data_weather.isnull().sum()

broadcast_date          0
broadcast_time          0
broadcast_code          0
product_code            0
product_name            0
product_category        0
unit_price              0
handling_amount      2891
off_day                 0
date                    0
time                    0
weekday                 0
hour                    0
temperature_seoul       0
rain_seoul              0
humid_seoul             0
snow_seoul              0
temperature_busan       0
rain_busan              0
humid_busan             0
snow_busan              0
season                  0
day_dup                 0
week_dup                0
dtype: int64

In [52]:
data_weather.to_csv('data/test_set/2.data_add_feature1.csv', index = False)