## 2.2 시청률 데이터 불러오기
- test set에 대한 시청률은 존재하지 않는다.
- 그래서 시청률 데이터를 바로 사용하기보다는, 시청률 데이터를 이용해 변수를 만든뒤에 이를 적용해야한다.
- 19년도 12월 31일까지 시청률 데이터가 존재하기 때문에 기본 데이터에서 2020 1월데이터는 삭제하고 적절한 변수 만들기를 해야한다

In [16]:
import pandas as pd
watching = pd.read_excel('data/train_set/watching.xlsx', header = 1)
# 맨 마지막 row, column은 평균값
watching

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
0,02:00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.003
1,02:01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.012,0.003
2,02:02,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004
3,02:03,0.000,0.000,0.014,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.017,0.000,0.000,0.000,0.000,0.000,0.000,0.004
4,02:04,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.017,0.000,0.000,0.000,0.000,0.000,0.000,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,01:56,0.000,0.000,0.000,0.000,0.027,0.000,0.000,0.000,0.000,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1437,01:57,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1438,01:58,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.017,0.000,0.000,0.015,0.000,0.000,0.019,0.000,0.004
1439,01:59,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1440,월화수목금토일02:00-01:59,0.004,0.006,0.002,0.003,0.002,0.003,0.003,0.002,0.003,...,0.010,0.006,0.006,0.007,0.004,0.006,0.004,0.005,0.005,0.004

- 필요없는 행 제거

In [17]:
watching= watching.drop(columns = '2019-01-01 to 2019-12-31')[:-1]
watching

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
0,02:00,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.000,0.0,0.000,0.0,0.0,0.000,0.000
1,02:01,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.000,0.0,0.000,0.0,0.0,0.000,0.012
2,02:02,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.000,0.0,0.000,0.0,0.0,0.000,0.000
3,02:03,0.0,0.0,0.014,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.017,0.0,0.000,0.0,0.0,0.000,0.000
4,02:04,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.017,0.0,0.000,0.0,0.0,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,01:55,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.004,...,0.0,0.013,0.000,0.000,0.0,0.015,0.0,0.0,0.000,0.000
1436,01:56,0.0,0.0,0.000,0.0,0.027,0.0,0.0,0.0,0.000,...,0.0,0.013,0.000,0.000,0.0,0.015,0.0,0.0,0.000,0.000
1437,01:57,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.004,...,0.0,0.013,0.000,0.000,0.0,0.015,0.0,0.0,0.000,0.000
1438,01:58,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.004,...,0.0,0.013,0.017,0.000,0.0,0.015,0.0,0.0,0.019,0.000
1439,01:59,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.004,...,0.0,0.013,0.000,0.000,0.0,0.015,0.0,0.0,0.000,0.000

In [18]:
watching = pd.melt(watching, id_vars=['시간대'], var_name='time', value_name='value')

In [19]:
watching['시간'] = watching['time'] +" "+ watching['시간대']
watching

          시간대        time  value                시간
0       02:00  2019-01-01    0.0  2019-01-01 02:00
1       02:01  2019-01-01    0.0  2019-01-01 02:01
2       02:02  2019-01-01    0.0  2019-01-01 02:02
3       02:03  2019-01-01    0.0  2019-01-01 02:03
4       02:04  2019-01-01    0.0  2019-01-01 02:04
...       ...         ...    ...               ...
525595  01:55  2019-12-31    0.0  2019-12-31 01:55
525596  01:56  2019-12-31    0.0  2019-12-31 01:56
525597  01:57  2019-12-31    0.0  2019-12-31 01:57
525598  01:58  2019-12-31    0.0  2019-12-31 01:58
525599  01:59  2019-12-31    0.0  2019-12-31 01:59

[525600 rows x 4 columns]

In [20]:
watching = watching.drop(columns = ['time','시간대'])
watching['시간'] = pd.to_datetime(watching['시간'])
watching = watching.sort_values('시간')
watching = watching.set_index(['시간'], drop = True)

- melt함수로 사용하기 편리해진 watching csv 정리

In [21]:
watching.to_csv('data/train_set/watching_pivot.csv',index = False)

- 2020 년도를 제외한 data 읽어오기

In [22]:
data = pd.read_csv('data/train_set/2.data_add_feature1.csv', header = 0)
data = data.sort_values(['broadcast_date']).reset_index(drop=True)
data = data.loc[~data['broadcast_date'].str.contains('2020-01-01')]
data

,broadcast_date,broadcast_time,broadcast_code,product_code,product_name,product_category,unit_price,handling_amount,off_day,date,...,snow_seoul,temperature_busan,rain_busan,humid_busan,snow_busan,pmWarning_seoul,pmWarning_busan,season,day_dup,week_dup
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,True,2019-01-01,...,0.0,-1.7,0.0,44.0,0.0,False,False,1,1.0,1.0
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,True,2019-01-01,...,0.0,-1.7,0.0,44.0,0.0,False,False,1,1.0,1.0
2,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,True,2019-01-01,...,0.0,-1.7,0.0,44.0,0.0,False,False,1,2.0,2.0
3,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,True,2019-01-01,...,0.0,-1.7,0.0,44.0,0.0,False,False,1,2.0,2.0
4,2019-01-01 06:40:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,9337000.0,True,2019-01-01,...,0.0,-1.7,0.0,44.0,0.0,False,False,1,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,2019-12-31 23:20:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,620000.0,False,2019-12-31,...,0.0,-2.3,0.0,24.0,0.0,False,False,1,1.0,4.0
35371,2019-12-31 23:40:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,9149000.0,False,2019-12-31,...,0.0,-2.3,0.0,24.0,0.0,False,False,1,2.0,5.0
35372,2019-12-31 23:40:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,15282000.0,False,2019-12-31,...,0.0,-2.3,0.0,24.0,0.0,False,False,1,2.0,5.0
35373,2019-12-31 23:40:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000.0,False,2019-12-31,...,0.0,-2.3,0.0,24.0,0.0,False,False,1,2.0,5.0
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,False,2019-12-31,...,0.0,-2.3,0.0,24.0,0.0,False,False,1,2.0,5.0

- getmax,get avg 로 방송 당, 평균, 최대 시청률 구하기

In [23]:
def get_max(df):
    start = df['broadcast_date']
    delta = df['broadcast_time']
    end = (pd.to_datetime(start) + timedelta(minutes=int(delta)))
    if(end >= pd.to_datetime('2020-01-01 00:00')):
         end = (pd.to_datetime(start) + timedelta(minutes=int(delta-1)))
    return watching.loc[start:end,'value'].max()

In [24]:
from datetime import datetime, timedelta
data['broadcast_date'] = pd.to_datetime(data['broadcast_date'])
data['max_watching'] = data.apply(get_max, axis =  1)

In [25]:
import sys
import pdb
def get_avg(df):
    start = df['broadcast_date']
    delta = df['broadcast_time']
    end = (pd.to_datetime(start) + timedelta(minutes=int(delta)))
    if(end >= pd.to_datetime('2020-01-01 00:00')):
         end = (pd.to_datetime(start) + timedelta(minutes=int(delta-1)))
    return watching.loc[start:end,'value'].mean()
data['avg_watching'] = data.apply(get_avg, 1)

In [26]:
data.loc[data['max_watching'].isnull()]
data

,broadcast_date,broadcast_time,broadcast_code,product_code,product_name,product_category,unit_price,handling_amount,off_day,date,...,rain_busan,humid_busan,snow_busan,pmWarning_seoul,pmWarning_busan,season,day_dup,week_dup,max_watching,avg_watching
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,1.0,1.0,0.000,0.0000
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,1.0,1.0,0.000,0.0000
2,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,2.0,2.0,0.000,0.0000
3,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,2.0,2.0,0.000,0.0000
4,2019-01-01 06:40:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,9337000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,3.0,3.0,0.000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,2019-12-31 23:20:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,620000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,1.0,4.0,0.000,0.0000
35371,2019-12-31 23:40:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,9149000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35372,2019-12-31 23:40:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,15282000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35373,2019-12-31 23:40:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206

In [27]:
data.to_csv('data/train_set/2.2data_weather_watching.csv',index = False)

In [28]:
data = pd.read_csv('data/train_set/2.2data_weather_watching.csv')
data

,broadcast_date,broadcast_time,broadcast_code,product_code,product_name,product_category,unit_price,handling_amount,off_day,date,...,rain_busan,humid_busan,snow_busan,pmWarning_seoul,pmWarning_busan,season,day_dup,week_dup,max_watching,avg_watching
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,1.0,1.0,0.000,0.0000
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,1.0,1.0,0.000,0.0000
2,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,2.0,2.0,0.000,0.0000
3,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,2.0,2.0,0.000,0.0000
4,2019-01-01 06:40:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,9337000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,3.0,3.0,0.000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,2019-12-31 23:20:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,620000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,1.0,4.0,0.000,0.0000
35371,2019-12-31 23:40:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,9149000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35372,2019-12-31 23:40:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,15282000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35373,2019-12-31 23:40:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206

data.nan

In [29]:
data.loc[data['handling_amount'].isnull()]

Empty DataFrame
Columns: [broadcast_date, broadcast_time, broadcast_code, product_code, product_name, product_category, unit_price, handling_amount, off_day, date, time, weekday, hour, temperature_seoul, rain_seoul, humid_seoul, snow_seoul, temperature_busan, rain_busan, humid_busan, snow_busan, pmWarning_seoul, pmWarning_busan, season, day_dup, week_dup, max_watching, avg_watching]
Index: []

[0 rows x 28 columns]

In [30]:
data

,broadcast_date,broadcast_time,broadcast_code,product_code,product_name,product_category,unit_price,handling_amount,off_day,date,...,rain_busan,humid_busan,snow_busan,pmWarning_seoul,pmWarning_busan,season,day_dup,week_dup,max_watching,avg_watching
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,1.0,1.0,0.000,0.0000
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,1.0,1.0,0.000,0.0000
2,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,2.0,2.0,0.000,0.0000
3,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,2.0,2.0,0.000,0.0000
4,2019-01-01 06:40:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,9337000.0,True,2019-01-01,...,0.0,44.0,0.0,False,False,1,3.0,3.0,0.000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,2019-12-31 23:20:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,620000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,1.0,4.0,0.000,0.0000
35371,2019-12-31 23:40:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,9149000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35372,2019-12-31 23:40:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,15282000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35373,2019-12-31 23:40:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206
35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,False,2019-12-31,...,0.0,24.0,0.0,False,False,1,2.0,5.0,0.038,0.0206