In [120]:
import pandas as pd
import numpy as np

In [121]:
level_dict = pd.read_csv("data/train_set/category_time_level2.csv")
data = pd.read_csv('data/train_set/.csv', header =0, index_col =0 )
test_data = pd.read_csv('data/test_set/2.8_1unit_price_to_class.csv')

In [42]:
product_category = {
        6 : '의류', 5: '속옷', 3: '농수축', 
        9:'주방', 0: '가구', 1:'가전',
        4:'생활용품',2:'건강기능',7 : '이미용', 8:'잡화'}

In [122]:
test_data.loc[test_data.product_category == '가구' ,'product_category'] = 0
test_data.loc[test_data.product_category == '가전' ,'product_category'] = 1
test_data.loc[test_data.product_category == '건강기능' ,'product_category'] = 2
test_data.loc[test_data.product_category == '농수축' ,'product_category'] = 3
test_data.loc[test_data.product_category == '생활용품' ,'product_category'] = 4
test_data.loc[test_data.product_category == '속옷' ,'product_category'] = 5
test_data.loc[test_data.product_category == '의류' ,'product_category'] = 6
test_data.loc[test_data.product_category == '이미용' ,'product_category'] = 7
test_data.loc[test_data.product_category == '잡화' ,'product_category'] = 8
test_data.loc[test_data.product_category == '주방' ,'product_category'] = 9
test_data.loc[test_data.product_category == '침구' ,'product_category'] = 10

In [123]:
test_data

,broadcast_date,broadcast_time,broadcast_code,product_code,product_name,product_category,unit_price,handling_amount,off_day,date,...,snow_seoul,temperature_busan,rain_busan,humid_busan,snow_busan,season,day_dup,week_dup,working_time,unit_price_class
0,2020-06-01 06:20:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,6,59800,NaN,False,2020-06-01,...,0.0,18.6,0.0,91,0.0,3,1.0,1.0,False,7.0
1,2020-06-01 06:40:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,6,59800,NaN,False,2020-06-01,...,0.0,18.6,0.0,91,0.0,3,2.0,2.0,False,7.0
2,2020-06-01 07:00:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,6,59800,NaN,False,2020-06-01,...,0.0,19.2,0.0,87,0.0,3,3.0,3.0,False,7.0
3,2020-06-01 07:20:00,20.000000,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,5,69900,NaN,False,2020-06-01,...,0.0,19.2,0.0,87,0.0,3,1.0,1.0,False,10.0
4,2020-06-01 07:40:00,20.000000,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,5,69900,NaN,False,2020-06-01,...,0.0,19.2,0.0,87,0.0,3,2.0,2.0,False,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,20.000000,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,0,NaN,False,2020-07-01,...,0.0,21.0,0.0,74,0.0,3,1.0,1.0,False,1.0
2887,2020-07-01 00:40:00,20.000000,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,0,NaN,False,2020-07-01,...,0.0,21.0,0.0,74,0.0,3,2.0,2.0,False,1.0
2888,2020-07-01 01:00:00,20.000000,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,0,NaN,False,2020-07-01,...,0.0,20.8,0.0,77,0.0,3,3.0,3.0,False,1.0
2889,2020-07-01 01:20:00,20.000000,100261,200875,아놀드파마 티셔츠레깅스세트,6,69900,NaN,False,2020-07-01,...,0.0,20.8,0.0,77,0.0,3,1.0,1.0,False,10.0
2890,2020-07-01 01:40:00,15.933333,100261,200875,아놀드파마 티셔츠레깅스세트,6,69900,NaN,False,2020-07-01,...,0.0,20.8,0.0,77,0.0,3,2.0,2.0,False,10.0

In [97]:
data['watching_level'] = np.nan

In [103]:
import pdb
def add_watching_level(df):
    pc = int(df.product_category)
    hour = int(df.hour)
    try:
        watching_level  = int(level_dict.loc[(level_dict.Product_category == pc)
                                      & (level_dict.hour == hour),'Clustering_label'])
    except : 
        watching_level  = 3
    return watching_level

In [104]:
data['watching_level'] = data.apply(add_watching_level, axis = 1)
data

,broadcast_time,product_category,unit_price,handling_amount,off_day,weekday,hour,temperature_seoul,rain_seoul,humid_seoul,...,day_dup,week_dup,max_watching,avg_watching,working_time,buy_count,pastBuyer_count_mean,unit_price_class,origin_Product_category,watching_level
0,20.0,6.0,39900.0,2099000.0,1.0,1.0,6.0,-7.9,0.0,60.0,...,1.0,1.0,0.000,0.0000,0.0,52.606516,25.019016,3.0,6,1
1,20.0,6.0,39900.0,4371000.0,1.0,1.0,6.0,-7.9,0.0,60.0,...,1.0,1.0,0.000,0.0000,0.0,109.548872,52.783284,3.0,6,1
2,20.0,6.0,39900.0,6955000.0,1.0,1.0,6.0,-7.9,0.0,60.0,...,2.0,2.0,0.000,0.0000,0.0,174.310777,109.548872,3.0,6,1
3,20.0,6.0,39900.0,3262000.0,1.0,1.0,6.0,-7.9,0.0,60.0,...,2.0,2.0,0.000,0.0000,0.0,81.754386,52.606516,3.0,6,1
4,20.0,6.0,39900.0,9337000.0,1.0,1.0,6.0,-7.9,0.0,60.0,...,3.0,3.0,0.000,0.0000,0.0,234.010025,141.929825,3.0,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,20.0,9.0,158000.0,620000.0,0.0,1.0,23.0,-7.4,0.0,45.0,...,1.0,4.0,0.000,0.0000,0.0,3.924051,36.913434,15.0,9,1
35371,20.0,9.0,178000.0,9149000.0,0.0,1.0,23.0,-7.4,0.0,45.0,...,2.0,5.0,0.038,0.0206,0.0,51.398876,89.079003,16.0,9,1
35372,20.0,9.0,168000.0,15282000.0,0.0,1.0,23.0,-7.4,0.0,45.0,...,2.0,5.0,0.038,0.0206,0.0,90.964286,135.105283,16.0,9,1
35373,20.0,9.0,158000.0,2328000.0,0.0,1.0,23.0,-7.4,0.0,45.0,...,2.0,5.0,0.038,0.0206,0.0,14.734177,35.882516,15.0,9,1
35374,20.0,9.0,148000.0,10157000.0,0.0,1.0,23.0,-7.4,0.0,45.0,...,2.0,5.0,0.038,0.0206,0.0,68.628378,81.844595,15.0,9,1

In [1]:
data.isnull().sum()

NameError: name 'data' is not defined

In [110]:
data.to_csv("data/train_set/2.9watching_level.csv",index = False)

In [109]:
level_dict.to_csv("data/train_set/category_time_level2_encode.csv", index = False)