In [13]:
import pandas as pd
data = pd.read_csv('data/train_set/2.5buyer_count.csv', header = 0)
data.columns

Index(['Unnamed: 0', 'broadcast_date', 'broadcast_time', 'broadcast_code',
       'product_code', 'product_name', 'product_category', 'unit_price',
       'handling_amount', 'off_day', 'date', 'time', 'weekday', 'hour',
       'temperature_seoul', 'rain_seoul', 'humid_seoul', 'snow_seoul',
       'temperature_busan', 'rain_busan', 'humid_busan', 'snow_busan',
       'pmWarning_seoul', 'pmWarning_busan', 'season', 'day_dup', 'week_dup',
       'max_watching', 'avg_watching', 'working_time', 'pastAvg_diff',
       'buy_count'],
      dtype='object')

In [2]:
## 1. 사용할 데이터만 가져오기

In [14]:
data_use = data[['broadcast_time','product_category', 'unit_price', 
       'off_day',  'weekday', 'hour', 'temperature_seoul',
       'rain_seoul', 'humid_seoul', 'snow_seoul', 'temperature_busan',
       'rain_busan', 'humid_busan', 'snow_busan', 'pmWarning_seoul',
       'pmWarning_busan', 'season', 'day_dup', 'week_dup','working_time', 'pastAvg_diff','handling_amount','buy_count']]
data_use_fit = data_use

## 2. 데이터의 종류
       
#### 정규화를 해야할 것 : 'broadcast_time', 'unit_price','rain_seoul', 'humid_seoul', 'snow_seoul', 'temperature_busan', 'rain_busan', 'humid_busan', 'snow_busan','hour','temperature_seoul','day_dup', 'week_dup','max_watching','avg_watching', 

#### 1 of c : 'product_category', 'weekday','season',

#### 그대로 사용 : 'off_day','pmWarning_seoul', 'pmWarning_busan', 'working_time', 

#### 정답 :  'pastAvg_diff','handling_amount'

#### standard_scalar_list

In [15]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

standard_scalar_list = [ 'broadcast_time', 'unit_price','rain_seoul',
                        'humid_seoul', 'snow_seoul', 'temperature_busan',
                        'rain_busan', 'humid_busan', 'snow_busan','hour',
                        'temperature_seoul','day_dup', 'week_dup']

data_use_fit[standard_scalar_list] = std_scaler.fit_transform(pd.DataFrame(data_use[standard_scalar_list]))
data_use_fit

C:\Users\dlwlg\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\dlwlg\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,broadcast_time,product_category,unit_price,off_day,weekday,hour,temperature_seoul,rain_seoul,humid_seoul,snow_seoul,...,snow_busan,pmWarning_seoul,pmWarning_busan,season,day_dup,week_dup,working_time,pastAvg_diff,handling_amount,buy_count
0,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,-1.032672,-1.275313,False,NaN,2099000,52.606516
1,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,-1.032672,-1.275313,False,NaN,4371000,109.548872
2,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,-0.216670,-1.035260,False,1.163000e+06,3262000,81.754386
3,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,-0.216670,-1.035260,False,2.584000e+06,6955000,174.310777
4,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,0.599331,-0.795206,False,3.991500e+06,6672000,167.218045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,-0.109686,주방,-0.382938,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-1.032672,-0.555153,False,-1.078606e+07,1664000,11.243243
35371,-0.109686,주방,-0.382938,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-0.216670,-0.315099,False,-1.956000e+06,10157000,68.628378
35372,-0.109686,주방,-0.366975,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-0.216670,-0.315099,False,-3.341438e+06,2328000,14.734177
35373,-0.109686,주방,-0.335048,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-0.216670,-0.315099,False,-6.707062e+06,9149000,51.398876
35374,-0.109686,주방,-0.351011,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-0.216670,-0.315099,False,-7.415688e+06,15282000,90.964286

## 더미코딩

In [16]:
data_use_fit['product_category'] = list(map(str,data_use_fit['product_category']))
data_use_fit['weekday'] = list(map(str,data_use_fit['weekday']))
data_use_fit['season'] = list(map(str,data_use_fit['season']))

data_use_fit

C:\Users\dlwlg\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\dlwlg\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\dlwlg\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,broadcast_time,product_category,unit_price,off_day,weekday,hour,temperature_seoul,rain_seoul,humid_seoul,snow_seoul,...,snow_busan,pmWarning_seoul,pmWarning_busan,season,day_dup,week_dup,working_time,pastAvg_diff,handling_amount,buy_count
0,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,-1.032672,-1.275313,False,NaN,2099000,52.606516
1,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,-1.032672,-1.275313,False,NaN,4371000,109.548872
2,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,-0.216670,-1.035260,False,1.163000e+06,3262000,81.754386
3,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,-0.216670,-1.035260,False,2.584000e+06,6955000,174.310777
4,-0.109686,의류,-0.555503,True,1,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,...,-0.009209,False,False,1,0.599331,-0.795206,False,3.991500e+06,6672000,167.218045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,-0.109686,주방,-0.382938,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-1.032672,-0.555153,False,-1.078606e+07,1664000,11.243243
35371,-0.109686,주방,-0.382938,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-0.216670,-0.315099,False,-1.956000e+06,10157000,68.628378
35372,-0.109686,주방,-0.366975,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-0.216670,-0.315099,False,-3.341438e+06,2328000,14.734177
35373,-0.109686,주방,-0.335048,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-0.216670,-0.315099,False,-6.707062e+06,9149000,51.398876
35374,-0.109686,주방,-0.351011,False,1,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,...,-0.009209,False,False,1,-0.216670,-0.315099,False,-7.415688e+06,15282000,90.964286

In [17]:
data_use_fit = pd.get_dummies(data_use_fit, drop_first=True, columns = ['product_category', 'weekday','season'])
data_use_fit.columns

Index(['broadcast_time', 'unit_price', 'off_day', 'hour', 'temperature_seoul',
       'rain_seoul', 'humid_seoul', 'snow_seoul', 'temperature_busan',
       'rain_busan', 'humid_busan', 'snow_busan', 'pmWarning_seoul',
       'pmWarning_busan', 'day_dup', 'week_dup', 'working_time',
       'pastAvg_diff', 'handling_amount', 'buy_count', 'product_category_가전',
       'product_category_건강기능', 'product_category_농수축',
       'product_category_생활용품', 'product_category_속옷', 'product_category_의류',
       'product_category_이미용', 'product_category_잡화', 'product_category_주방',
       'product_category_침구', 'weekday_1', 'weekday_2', 'weekday_3',
       'weekday_4', 'weekday_5', 'weekday_6', 'season_2', 'season_3',
       'season_4'],
      dtype='object')

In [18]:
data_use_fit

,broadcast_time,unit_price,off_day,hour,temperature_seoul,rain_seoul,humid_seoul,snow_seoul,temperature_busan,rain_busan,...,product_category_침구,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,season_2,season_3,season_4
0,-0.109686,-0.555503,True,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,-2.300365,-0.151322,...,0,1,0,0,0,0,0,0,0,0
1,-0.109686,-0.555503,True,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,-2.300365,-0.151322,...,0,1,0,0,0,0,0,0,0,0
2,-0.109686,-0.555503,True,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,-2.300365,-0.151322,...,0,1,0,0,0,0,0,0,0,0
3,-0.109686,-0.555503,True,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,-2.300365,-0.151322,...,0,1,0,0,0,0,0,0,0,0
4,-0.109686,-0.555503,True,-1.235324,-2.112441,-0.125755,0.246986,-0.063971,-2.300365,-0.151322,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,-0.109686,-0.382938,False,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,-2.377450,-0.151322,...,0,1,0,0,0,0,0,0,0,0
35371,-0.109686,-0.382938,False,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,-2.377450,-0.151322,...,0,1,0,0,0,0,0,0,0,0
35372,-0.109686,-0.366975,False,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,-2.377450,-0.151322,...,0,1,0,0,0,0,0,0,0,0
35373,-0.109686,-0.335048,False,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,-2.377450,-0.151322,...,0,1,0,0,0,0,0,0,0,0
35374,-0.109686,-0.351011,False,1.353441,-2.064804,-0.125755,-0.496923,-0.063971,-2.377450,-0.151322,...,0,1,0,0,0,0,0,0,0,0

In [19]:
data_use_fit.to_csv('data/train_set/3.data_normalize.csv',index = False)

In [20]:
data_use_fit.columns

Index(['broadcast_time', 'unit_price', 'off_day', 'hour', 'temperature_seoul',
       'rain_seoul', 'humid_seoul', 'snow_seoul', 'temperature_busan',
       'rain_busan', 'humid_busan', 'snow_busan', 'pmWarning_seoul',
       'pmWarning_busan', 'day_dup', 'week_dup', 'working_time',
       'pastAvg_diff', 'handling_amount', 'buy_count', 'product_category_가전',
       'product_category_건강기능', 'product_category_농수축',
       'product_category_생활용품', 'product_category_속옷', 'product_category_의류',
       'product_category_이미용', 'product_category_잡화', 'product_category_주방',
       'product_category_침구', 'weekday_1', 'weekday_2', 'weekday_3',
       'weekday_4', 'weekday_5', 'weekday_6', 'season_2', 'season_3',
       'season_4'],
      dtype='object')